<h2> All upcoming events! </h2>
  <%@ordered_events = @events.sort_by {|event| event.name }%>
  <ol>
  <% @ordered_events.each do |event|%>
    <li><a href='/events/<%=event.id %>' ><%=event.name %></a></li>
  <%end%>
  </ol>