<h2> All upcoming events! </h2>
  <ol>
  <%@events = @events.sort_by {|event| event.date }%>
  <% @events.each do |event|%>
    <li><a href='/events/<%=event.id %>' ><%=event.name %></a></li>
  <%end%>
  </ol>