<h2> All upcoming events! </h2>
  <%@ordered_events = @events.sort_by {|event| event.name }%>
  <ul class="list-group">
  <% @ordered_events.each do |event|%>
    <li class="list-group-item"><a href='/events/<%=event.id %>' ><%=event.name %></a></li>
  <%end%>
  </ul>

  