
<% if @events.empty?%>
  <h3> You currently have no events </h3>
  <a href="/events/new"> Create New Event </a>
<%else%>
  <h3> Here's a list of your upcoming events! </h3>
  <ol>
  <% @events.each do |event|%>
    <li><a href='/events/<%=event.id %>' ><%=event.name %></a></li>
  <% end %>
  </ol>
<% end %>

<h3>Your Favorited Events</h3>
<% fav_events = FavoriteEvent.all.map do |fav| %>
  <%= fav.event_id %>
<%end%>