<h1>Welcome, <%= @user.username.capitalize%> to Live Streams</h1>
<div class="container">
<!-- add buttons for genres and date and your events -->
   <a href="/">My Events</a>  <a href="/all">All Events</a>
  <br><br><br>

  <a href="/logout">Logout</a>
</div>